@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/* *{
    margin:0px;
    padding:0px;
} */
body{margin:0px;padding:0px;
    background-image:linear-gradient(270deg, #166281ff, #1e85aeff, #4cb6e1ff, #8cd0ecff,  #ffaf02ff, #fc9e02ff, #f88c01ff);
}
h1{
    text-align:center;
    color:#006d77;
      font-family: 'Oswald', sans-serif; 
      font-size:70px;
      margin:0px;
      padding:0px;
}
.container{
    margin-top:0px;
    width:100vw;
    height:85vh;
    display:flex;
    justify-content:center;
    align-content:center;
    align-items:center;

}
 
.panel
{   margin-top:0px;
    background-size:auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 120px;
    height:75vh;
    border-radius:50px;
    text-align:center;
    cursor: pointer;
    position: relative;
    margin:10px;
    flex:0.1;
    transition: flex 0.7s;
    display: flex;
    flex-direction:column;
}
 img {
        width: 100%;
        height: auto;
      }

.panel h3{
    font-family: 'Oswald', sans-serif;
    
    opacity: 0;
    transition:0.6s;
}

.panel.active{
    background-size:auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    flex:0.4;
    display:flex;
    width: 120px;
    height:75vh;
    justify-content:center;
    align-content: center;
    align-items: center;

}
.panel.active h3{
    opacity: 1;
    text-transform: uppercase;
    font-size: 100px;
    color:white;

}

@media(max-width:1080px){
    .container{
        width:95vw;
    }
    .panel h3{
        writing-mode: tb-rl; 
    }
    .panel.active h3{
        writing-mode: tb-rl; 
    }   
}
@media(max-width:2400px){
    
}
